body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 20px;
}

.name {
    color: rgb(0, 148, 148);
}

.first-part {
    width: 50%;
    padding-left: 3%;
}

.first-part img {
    width: 80%;
}

.flex-container {
    display: flex;
    margin-bottom: 150px;
}

.company-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(211, 168, 168), rgb(107, 144, 170));
    padding: 10px 30px;
    color: rgb(251, 255, 255);
    font-weight: 800;
    border-radius: 45px;
}

.second-part {
    width: 50%;
    padding-right: 3%;
}

.second-part img {
    width: 80%;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: 3%;
}

.box-shadow {
    box-shadow: 10px 10px 40px black;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    border-radius: 8%;
}

.achivement {
    margin-left: 40px;
}

.achivement-bg {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}

#shoes {
    border-left: 6px solid tomato;
}

#cap {
    border-left: 6px solid purple;
}

.footer {
    font-weight: 700;
    text-align: center;
}